@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hire A Tutor</h1>
    <p class="lead">Find a comprehensive tutor for any field in matter of seconds. Best prices on the Web!</p>
</div>